<div class="container">
<h1>Welcome to <%= current_store.name %>!</h1>
<% @items.each do |item| %>
<%= link_to item.name, store_item_path(item, store: current_store.slug) %>
<%= item.description %>
<%= item.image_url %>
<% end %>
</div>
